.mdStyle{
    color: black
}

.mdStyle h1{
    font-size: x-large;
    font-weight: 900;
    color: #b53d46;
}

.mdStyle h2{
    font-size: large;
    font-weight: bold;
    padding-top: 0.5rem;
}

.mdStyle p, li{
    padding-top: 0.5rem;
    font-size: medium;
}

.mdStyle li {
    margin-left: 1rem;
}

.mdStyle ul {
    padding-left: 1rem;
}
